/*
    Authors: Kaine van Ommeren, Elise Rijkers & Nick de Rooij
    Date: 08-10-2021
    Subject: Website Scouting Jan van Hoof
*/
@font-face 
{
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
body
{
    font-family: Montserrat;
}
.header
{
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
.header_background
{
    /* URL image*/
    background-image: url(/images/scouting_background_header.jpg);
    /*min-height: 380px;*/

    /* Gecentreerd en positie en grootte image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-image
{
    /*width: 46px;
    height: 46px;*/
    overflow: hidden;
    margin-top: -6px;
}
.topnav
{
    text-align: center;
}
.topnav a
{
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 14px 16px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.topnav a:hover
{
    color: #617cb6;
}
.scoutingfoto1
{
    display: block;
    background-size: 1110px 444px;
}
.scoutingfoto2
{
    display: block;
    background-size: 1110px 444px;
}

.scoutingfoto1, .scoutingfoto2
{
    width: 666px;
    height: 444px;
}